doctype html
html 
    head
        meta(name="viewport" content='width-device-width, initial-scale=1.0')
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        title Natours Experience | Exciting Tours For Adventerous People
        link(rel="stylesheet", href="css/style.css")
        link(rel='shortcut icon' type='image/png' href='img/favico.pngn')
        link(rel='stylesheet' href="https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap")
    
    body
        //- Header
        include _header
        //- Content
        section.overview 
            h1= tour

        //- Footer
        include _footer


